sentence-transformers
faiss-cpu
transformers
torchvision
openai
pillow
fastapi
uvicorn
python-multipart
numpy
faiss
pillow
torch
torchvision
ftfy
regex
fastapi
torch
llava @ git+https://github.com/haotian-liu/LLaVA.git